{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>Group</h2>

    <div class="mx-auto">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for group in groups %}
            <tr>
              <td>{{ group.id }}</td>
              <td>{{ group.name }}</td>
              <td>{{ group.description }}</td>
              <td>
                <a href="{% url 'display:group_edit' group.id %}" class="btn btn-primary btn-sm">Edit</a>
                <a href="{% url 'display:group_delete' group.id %}" class="btn btn-danger btn-sm">Delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    <a href="{% url 'display:add_group' %}" class="btn btn-success">Add Group</a>
  </div>
{% endblock %}