{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Edit group</h2>
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body-auth card-body p-5">
                    <form method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{ group.name }}" required>
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" name="description" rows="4">{{ group.description }}</textarea>
                        </div>

                        {% if errors %}
                            <h4>{{ errors }}</h4>
                        {% endif %}

                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}