{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>Users</h2>

    <div class="mx-auto">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Created</th>
            <th>Group</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.date_joined }}</td>
            <td>{{ user.group.name }}</td>
            <td>
              <a href="{% url 'display:user_edit' user.id %}" class="btn btn-primary btn-sm">Edit</a>
              <a href="{% url 'display:user_delete' user.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <a href="{% url 'display:add_user' %}" class="btn btn-success">Add User</a>
  </div>
{% endblock %}